/* Container */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dcdcdd;
    color: #000000; /* Changed to black */
    padding: 20px;
    text-align: center;
}
  
/* Header */
.home-header {
    font-size: 4rem;
    color: #000000; /* Changed to black */
    margin-bottom: 20px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
}
  
/* Class and Overflow styling */
.class-text {
    font-weight: normal;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.bracket-text{
    font-family: 'JetBrains Mono', monospace;
}
.overflow-text {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #500000;
}
  
/* Paragraph */
.home-paragraph {
    font-size: 1.5rem;
    color: #000000; /* Changed to black */
    margin-bottom: 40px;
    max-width: 700px;
    line-height: 1.8;
}
  
/* Button styling */
.scroll-button {
    font-size: 1.5rem;
    color: #000000; /* Changed to black */
    background-color: #dcdcdd;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}
  
.scroll-button:hover {
    transform: scale(1.1);
    background-color: #21a1f1;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}
  
/* Smooth scroll effect for form transition */
html {
    scroll-behavior: smooth;
}
